<launch>
    <arg name="x_goal" default="5.5" />
    <arg name="y_goal" default="5.5" />
    <arg name="gui" default="true" />

    <include file="$(find rrt_project)/launch/simulation/robot_and_map_setup.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <include file="$(find rrt_project)/launch/simulation/rrt_star_project_simulation_setup.launch">
        <arg name="x_goal" value="$(arg x_goal)" />
        <arg name="y_goal" value="$(arg y_goal)" />
    </include>
</launch>