<launch>
    <arg name="x_goal" default="5.5" />
    <arg name="y_goal" default="5.5" />
    <arg name="world_frame" default="map" />
    <arg name="robot_frame" default="base_link" />
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="local_map_topic" default="/local_map" />
    <arg name="laser_topic" default="/laser/scan" />
    <arg name="path_topic" default="/rrt_path" />

    <arg name="robot_density" default="100" />
    <arg name="robot_height" default="0.53" />
    <arg name="robot_width" default="0.46" />

    <node pkg="rrt_project" type="emergency_button.py" name="emergency_button" output="screen" required="true"/>

    <node pkg="rrt_project" type="map_server.py" name="map_server_node"/>
    <node pkg="rrt_project" type="merge_local_map" name="merge_local_map" output="screen"/>

    <node pkg="rrt_project" type="global_rrt_star" name="global_rrt" output="screen" >
        <rosparam file="$(find rrt_project)/config/simulation/rrt_star.yaml" command="load" />
        <param name="robot_frame" value="$(arg robot_frame)" />
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="path_topic" value="$(arg path_topic)" />
        <param name="x_goal" value="$(arg x_goal)" />
        <param name="y_goal" value="$(arg y_goal)" />
        <param name="rate" value="5.0" />
    </node>

    <!-- Max rate is over 1000hz with this specs -->
    <node pkg="rrt_project" type="local_map" name="local_map">
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="laser_topic" value="$(arg laser_topic)" />
        <param name="grid_topic" value="$(arg local_map_topic)" />
        <param name="rate" value="100.0" />
        <param name="resolution" value="0.05" />
        <param name="width" value="80" />
        <param name="height" value="80" />
    </node>

    <!-- <node pkg="rrt_project" type="cluster_service.py" name="cluster_service" /> -->

    <!-- Max rate is 230hz with this specs -->
    <node pkg="rrt_project" type="local_rrt" name="local_rrt" output="screen"> 
        <rosparam file="$(find rrt_project)/config/simulation/local_rrt.yaml" command="load" />
        <param name="local_map_topic" value="$(arg local_map_topic)" />
        <param name="path_topic" value="$(arg path_topic)" />
        <param name="rate" value="10.0" />
    </node>

    <!-- Control and potential nodes -->
    <node pkg="rrt_project" type="differential_robot_control.py" name="pioneer_control_node" output="screen">
        <rosparam file="$(find rrt_project)/config/simulation/differential_robots/pioneer.yaml" command="load" />
        <param name="robot_frame" value="$(arg robot_frame)" />
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="robot_control_topic" value="$(arg cmd_vel_topic)"/>
    </node>

    <node pkg="rrt_project" type="publish_robot_potential_points" name="publish_robot_points" output="screen" >
        <param name="world_frame" value="$(arg world_frame)" />
        <param name="robot_frame" value="$(arg robot_frame)" />
        <param name="robot_density" value="$(arg robot_density)" />
        <param name="robot_height" value="$(arg robot_height)" />
        <param name="robot_width" value="$(arg robot_width)" />
    </node>

    <node pkg="rrt_project" type="obstacle_avoidance_node.py" name="obstacle_avoidance_node" output="screen">
        <rosparam file="$(find rrt_project)/config/simulation/obstacle_avoidance/obstacle_avoidance_scan_node.yaml" command="load" />
        <param name="scan_topic" value="$(arg laser_topic)"/>
        <param name="robot_frame" value="$(arg robot_frame)"/>
        <param name="world_frame" value="$(arg world_frame)"/>
        <param name="velocity_topic" value="velocity"/>
    </node>
</launch>