<launch>
    <arg name="x_goal" default="2.25" />
    <arg name="y_goal" default="1.14" />
<!-- 
    <arg name="x_goal" default="-2.7"/>
    <arg name="y_goal" default="1.3"/> -->

    <!-- <include file="$(find rrt_project)/launch/simulation/limo/launch_map_and_limo.launch">
        <arg name="use_rviz" value="true" />
        <arg name="with_obstacle" value="false"/>
    </include> -->

    <include file="$(find rrt_project)/launch/simulation/limo/limo_mapping.launch"/>

    <include file="$(find rrt_project)/launch/simulation/limo/rrt_project_simulation_setup_limo.launch">
        <arg name="x_goal" value="$(arg x_goal)" />
        <arg name="y_goal" value="$(arg y_goal)" />
        <arg name="laser_topic" value="/laser/scan" />]
        <arg name="run_rrt_star" value="false" />
    </include>
</launch>