<launch>
    <arg name="scan_topic"  default="/RosAria/scan" />

    <!-- Optitrack -->
    <!-- -20 -180deg in yaw -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_link_tf_publisher"
        args="0.1 0 0 0 0 -0.98480775 -0.17364818 P1 laser" />

    <arg name="base_frame"  default="P1"/>
    <arg name="odom_frame"  default="world"/>
    <arg name="xmin" value="-2.0"/>
    <arg name="ymin" value="-2.0"/>
    <arg name="xmax" value="3.0"/>
    <arg name="ymax" value="3"/> -->

    <!-- Odom -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_link_tf_publisher"
        args="0.1 0 0 0 0 -0.98480775 -0.17364818 base_link laser" />

    <arg name="base_frame"  default="base_link"/>
    <arg name="odom_frame"  default="odom"/>
    <!-- <arg name="x_min" value="-1.0"/>
    <arg name="y_min" value="-4.0"/>
    <arg name="x_max" value="5.5"/>
    <arg name="y_max" value="1"/>  -->

    <arg name="x_min" value="-2.0"/>
    <arg name="y_min" value="-6.0"/>
    <arg name="x_max" value="7.0"/>
    <arg name="y_max" value="2"/> 

    <include file="$(find rrt_project)/launch/mapping/mapping_igor.launch" >
        <arg name="scan_topic" value="$(arg scan_topic)"/>
        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
        <arg name="x_min" value="$(arg x_min)"/>
        <arg name="y_min" value="$(arg y_min)"/>
        <arg name="x_max" value="$(arg x_max)"/>
        <arg name="y_max" value="$(arg y_max)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find rrt_project)/rviz/mapping_real_world.rviz" />

    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" >
        <remap from="cmd_vel" to="/RosAria/cmd_vel"/>
    </node>
</launch>