<launch>
    <arg name="scan_topic"  default="/rplidar/scan" />
    <arg name="cmd_vel_topic"  default="/L1/cmd_vel"/>
    <arg name="map_topic" default="/map"/>
    <arg name="map_frame" default="map"/>
    <arg name="resolution" default="0.05"/>
    <arg name="x_offset" default="0.053" />
    <arg name="y_offset" default="-0.01" />
    <arg name="launch_rviz" default="false"/>
    <arg name="launch_teleop" default="false"/>
    <arg name="publish_transform" default="false"/>
    <arg name="base_frame"  default="L1"/>
    <arg name="scan_frame"  default="laser"/>
    <arg name="odom_frame"  default="world"/>
    
    <arg name="x_min" default="-5.0"/>
    <arg name="y_min" default="-4.0"/>
    <arg name="x_max" default="5.0"/>
    <arg name="y_max" default="4.0"/> 

    <node if="$(arg publish_transform)" pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_link_tf_publisher"
        args="$(arg x_offset) $(arg y_offset) 0 0.0 0.0 0.9996907340681903 0.02486837787638553 $(arg base_frame) $(arg scan_frame)" />

      <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="/map" to="$(arg map_topic)"/>
        <param name="map_frame" value="$(arg map_frame)"/>

        <param name="odom_alpha1" value="0.000"/>
        <param name="odom_alpha2" value="0.000"/>
        <param name="odom_alpha3" value="0.000"/>
        <param name="odom_alpha4" value="0.000"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="map_update_interval" value="0.5"/>
        <param name="maxUrange" value="10.0"/>
        <param name="maxRange" value="10.0"/>
        <param name="sigma" value="0.02"/>
        <param name="kernelSize" value="3"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="10"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="minimumScore" value="1000"/> <!-- most important for perfect localization-->
        <param name="srr" value="0.0"/>
        <param name="srt" value="0.0"/>
        <param name="str" value="0.0"/>
        <param name="stt" value="0.0"/>
        <param name="linearUpdate" value="0.1"/>
        <param name="angularUpdate" value="0.261799"/>
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="20"/>        
        <param name="xmin" value="$(arg x_min)"/>
        <param name="ymin" value="$(arg y_min)"/>
        <param name="xmax" value="$(arg x_max)"/>
        <param name="ymax" value="$(arg y_max)"/>
        <param name="delta" value="$(arg resolution)"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>

    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rrt_project)/rviz/mapping_real_world.rviz" />

    <node if="$(arg launch_teleop)" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    </node>
</launch>
