<launch>
    <!-- <node pkg="rosbag" type="record" name="rosbag_record" args="-O $(find rrt_project)/rosbag/simulations/simple_rrt/zig_zag/my_bagfile.bag /Pioneer_path /base_points /clock /closest_points /closest_points_text /cmd_vel /cmd_vel_no_potential /control_point /filtered_closest_points /laser/scan /last_point_inside_map /local_map /local_map_new /local_map_updates /local_path /map /map_metadata /map_topic_for_local_rrt /map_topic_for_local_rrt_updates /map_updates /matched_base_points /merged_map /potential /potential_arrows /quadrants /rosout /rosout_agg /rplidar/scan /rrt_nodes_ /rrt_path /smoothed_local_path /start_point_local_map /tf /tf_static /traveled_path /velocity_arrow_no_potential /velocity_arrow_no_potential_array /velocity_arrow_obs /velocity_arrow_reference /velocity_arrow_reference_array /vrpn_client_node/L1/pose /vrpn_client_node/Pioneer/pose /which_route_point" output="screen">
        <param name="use_sim_time" value="true"/>
    </node> -->

    <node pkg="rosbag" type="record" name="rosbag_record" args="-O $(find rrt_project)/rosbag/rrt_simple.bag /Pioneer_path /base_points /clock /closest_points /closest_points_text /cmd_vel /cmd_vel_no_potential /control_point /filtered_closest_points /laser/scan /last_point_inside_map /local_map /local_map_new /local_map_updates /local_path /map /map_metadata /map_topic_for_local_rrt /map_topic_for_local_rrt_updates /map_updates /matched_base_points /merged_map /potential /potential_arrows /quadrants /rosout /rosout_agg /rplidar/scan /rrt_nodes_ /rrt_path /smoothed_local_path /start_point_local_map /tf /tf_static /traveled_path /velocity_arrow_no_potential /velocity_arrow_no_potential_array /velocity_arrow_obs /velocity_arrow_reference /velocity_arrow_reference_array /vrpn_client_node/L1/pose /vrpn_client_node/Pioneer/pose /which_route_point" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>

    <include file="$(find rrt_project)/launch/simulation/different_rrt_methods/simple_rrt_simulation.launch">
        <arg name="x_goal" value="2.66"/>
        <arg name="y_goal" value="-1"/>
    </include>
</launch>