<launch>
    <node pkg="rosbag" type="record" name="rosbag_record" 
          args="-O $(find rrt_project)/rosbag/simulations/rrt_project/short_passage/my_bagfile.bag --all" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>

    <include file="$(find rrt_project)/launch/simulation/different_rrt_methods/rrt_project_simulation.launch">
        <arg name="x_goal" value="2.4"/>
        <arg name="y_goal" value="1.3"/>
    </include>
</launch>