<launch>
    <arg name="world_frame" default="map" />
    <arg name="robot_density" default="100" />
    <arg name="robot_height" default="0.5" />
    <arg name="robot_width" default="0.46" />
    <arg name="robot_frame" default="base_link" />
    <arg name="odom_frame" default="odom" />
    <arg name="cmd_vel_topic" default="/RosAria/cmd_vel" />
    <arg name="scan_topic" default="/RosAria/scan" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_tf_publisher"
    args="0.1 0 0 0 0 -0.98480775 -0.17364818 base_link laser" /> <!-- -20 -180deg in yaw -->

    <node name="map_server" pkg="map_server" type="map_server" args="$(find rrt_project)/maps/new_odom_map_latest/map.yaml" />

    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="$(arg scan_topic)"/>
        <param name="odom_frame_id" value="$(arg odom_frame)"/>
        <param name="base_frame_id" value="$(arg robot_frame)"/>
        <param name="global_frame_id" value="map"/>
        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>

        <param name="min_particles" value="30"/>
        <param name="max_particles" value="200"/>
        <param name="update_min_d" value="0.01"/>
        <param name="update_min_a" value="0,0074533"/> <!-- 1 degrees -->
        <param name="resample_interval" value="1"/>
        <param name="first_map_only" value="true"/>
        <param name="odom_model_type" value="diff"/>
        <param name="selective_resampling" value="true"/>
        <param name="gui_publish_rate" value="-1"/>
        <param name="odom_alpha1" value="0.1"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find rrt_project)/rviz/real_world.rviz" />

    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" >
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    </node>
</launch>