<launch>
    <!-- Manually define the directory where the bags will be saved -->
    <arg name="directory" default="$(find rrt_project)/rosbag"/>

    <!-- Manually define the filename -->
    <arg name="filename" default="change_the_name.bag"/>

    <!-- Combine the directory and filename to form the full path -->
    <arg name="filepath" default="$(arg directory)/$(arg filename)"/>

    <!-- Record the rosbag using the manually specified filename -->
    <node pkg="rosbag" type="record" name="record_bag" args="-a -O $(arg filepath)"/>
</launch>