<launch>
    <include file="$(find rrt_project)/launch/launches_for_dissertation/simulation/limo_and_map.launch">
        <arg name="room_model" value="$(find rrt_project)/worlds/SHORT_PASSAGE/model.sdf"/>
        <arg name="map" default="$(find rrt_project)/maps/simulation/ZIGZAG/map.yaml"/>
        <!-- <arg name="x" value="-2.87"/>
        <arg name="y" value="1.6"/> -->
        <arg name="x" value="-2.8"/>
        <arg name="y" value="1.4"/>
        <arg name="yaw" value="-1.5708"/>
        <arg name="gui" value="true"/>
    </include>
</launch>